<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="cadenaconexion" connectionString="Server=localhost\SQLEXPRESS; Database=BDPROCESOPENAL; Uid=sa; Pwd=sqlserver" providerName="System.Data.SqlClient" />
    <!--<add name="cadenaconexion" connectionString="Server=DEV-LAP\SQLEXPRESS2017; Database=BDPROCESOPENAL; Uid=USR_ADMIN_001; Pwd=USR_ADMIN_001_PASS"/>-->
  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="DirectorioPdf" value="D:\DESARROLLO\SCV\Bitbucket\Net\Net Framework\proy_plan_neg\04-Recursos\Pdf\"/>
  </appSettings>
</configuration>